/* 3.0-section header  */

.header{
    padding: 10px 0;
     background: rgba(0, 0, 0,.2);
     z-index: 10;
    position: fixed;
    width: 100%;
    
 }
 
 
 .header-content{
     overflow: hidden;
 }
 

 
 .logo img{
     width: 50%;
 }
 
 .header .nav{
     width: 70%;
     text-align: right;
     padding: 20px;
 }
    
 
 
 
 .header .nav li{
     display: inline-block;
     
 }
 
 .header .nav li a{
     text-transform: capitalize;
     color: var(--white-color);
     padding: 10px 10px;
     display: block;
     font-size: 14px;
     letter-spacing: 1px;
     cursor: pointer;
     position: relative;
 }
 
 .header .nav li a.active{
     color: var(--main-color);
     font-weight: 600;
 }
 
 .header .nav li a.active::after ,.header .nav li a::after{
     content: "";
     position: absolute;
     height: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: -1;
     background: var(--white-color);
     border-radius: 100px 100px 0 100px;
 }
 
 .header .nav li a.active::after{
     height: 100%;
 }
 
 .header .nav li a:hover::after{
     height: 100%;
     
 
 }
 
 .header .nav li a:hover{
     color: var(--main-color);
     font-weight: 600;
 
 }