

/*3.5- section team */

.team-item{
    max-width: 25%;
    padding: 0 15px;
}

.team-img{

    border-radius: 50% 50% 0 50%;
    border-top: none;
    border-bottom: 5px solid var(--main-color);
    overflow: hidden;
    transition: all .5s;
}

.team-img img{

    width: 100%;
    height: auto;
    
}


.team-desc{
    text-align: center;
    padding: 20px 0;

}

.team-name{
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}

.team-job{
    display: block;
    color: var(--dark-gray-color);
    text-transform: capitalize;
    font-size: 17px;
    margin-bottom: 20px;
}



.team-link li{
    display: inline-block;
}

.team-link li a{
    display: block;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all .5s;
   
}

.team-link li a i{
    line-height: 35px;
}


.team-item:hover .team-img{
    border-bottom: 5px solid #1c1d21;
    border-radius: 0 50% 0 50%;


}

.team-item:hover .team-link li a{
    color: var(--white-color);
    background: #1c1d21;
}
